<%= form_with(model: outfit) do |form| %>
  <%= render "partials/forms/form", model: outfit do %>

    <%= render "partials/forms/text_input", f: form, field: :name %>


    <div>
    <%= form.label :visibility, style: "display: block" %>
    <%= form.check_box :visibility %>
  </div>

  <div>
    <%= form.submit %>
  </div>
    <% end %>
<% end %>
