<ul>
    <li><a href="/"> Home </a></li>
    <li><%= link_to "Pieces", pieces_path %> </li>
    <li><%= link_to "Outfits", outfits_path %> </li>
    <li><%= link_to "Categories", categories_path %> </li>
    <li><%= link_to "Sizes", sizes_path %> </li>
    <li><%= link_to "Body Parts", body_parts_path %> </li>
</ul>
