<div class="flex flex-col bg-slate-900 items-center justify-center">
<div class="flex flex-row border-b border-solid border-white w-full">

<div class="flex flex-col bg-slate-500 ml-2 mr-2 text-center rounded items-center w-1/2 m-6 p-3 pl-3 pr-3 overflow-hidden whitespace-no-wrap overflow-ellipsis">

<%= render "partials/dashboard/profile_picture", image_path: "test.jpg", alt_text: "Placeholder" %>

<h1> <%= @user %> </h1>

<div>
<p> <%= @user_description %> </p>

</div>

</div>
<div class="flex flex-col bg-slate-300 ml-2 mr-2 rounded w-1/2 m-6 justify-center">

<div class="flex flex-col bg-slate-300 ml-2 mr-2 rounded m-6 text-center">

<%= render "partials/dashboard/h3", label: "X", value: @user_X %>
<%= render "partials/dashboard/h3", label: "Instagram", value: @user_instagram %>
<%= render "partials/dashboard/h3", label: "Pinterest", value: @user_pinterest %>

</div>

<div class="text-center">
<h1> <%= @outfits_amount %> </h1>
<h3> Pieces </h3>

<h1> <%= @pieces_amount %> </h1>
<h3> Outfits </h3>
</div>
</div>  



</div>

<h1> <%= @latest_clothes %> </h1>
<h1> <%= @latest_outfits %> </h1>

<div class="flex items-start w-full ml-6">
<h2 class="text-white"> Latest clothes </h2>
</div>


<div class="flex w-full p-6 overflow-scroll">

<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "Punk lodsqjdsqjdqsjdqlds", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>


</div>
<% @latest_clothes.each do | piece |%>


    <h2> <%= piece.name%> </h2>
<% end %>


<div class="flex items-start w-full ml-6">
<h1 class="text-white"> Latest outfits </h1>
</div>


<div class="flex w-full p-6 overflow-scroll border-t border-solid border-white">

<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "Punk lodsqjdsqjdqsjdqlds", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>
<%= render "partials/dashboard/piece", image_path: "test.jpg", alt_text: "Placeholder", name: "placeholder", category: "placeholder", size: "m -32" %>


</div>

<% @latest_outfits.each do | outfit |%>
    <h2> <%= outfit.name%> </h2>
<% end %>

</div>

