<div id="<%= dom_id piece %>">
  <p>
    <strong>Name:</strong>
    <%= piece.name %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= piece.origin %>
  </p>

  <p>
    <strong>Buy link:</strong>
    <%= piece.buy_link %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= piece.size_id %>
  </p>

  <p>
    <strong>Body part:</strong>
    <%= piece.body_part_id %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= piece.visibility %>
  </p>

</div>
